* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header {
  background: linear-gradient(to right, #808080, #3fada8);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.36);
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  #header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.headerflex {
  display: flex;
  align-items: center;
}

img,
h2 {
  padding: 10px;
}

h2:hover {
  color: yellow;
}

img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}

#main-nav {
  display: flex;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  #main-nav {
    text-align: center;
  }
}

.nav-link {
  display: flex;
  text-align: center;
}

.nav-link:hover {
  color: yellow;
}

#nav-bar {
  display: flex;
  align-items: center;
}

#main-nav .nav-link {
  padding: 10px;
}

#video {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#screen {
  border-radius: 20px;
  animation: vid 2s infinite;
  transition: 0.5s ease-in-out;
}

@keyframes vid {
  100% {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 320px) {
  #screen {
    width: 200px;
    height: auto;
  }
}

#main-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  flex-wrap: wrap;
  display: flex;
}

@media only screen and (max-width: 600px) {
  #form {
    display: flex;
    justify-content: center;
  }
}

input {
  padding: 3px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px -2px 12px 3px rgba(0, 0, 0, 0.38);
}

.inputs {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  #email {
    width: auto;
  }
}

label {
  display: flex;
  align-items: center;
}

#submit:hover {
  transition: 0.6s ease-in-out;
  transform: scale(1.2);
}
/* Um @mediaquery */
/* Usar um flex box */
