* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#header {
  background: linear-gradient(to right, #808080, #3fada8);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.36);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.headerflex {
  display: flex;
  align-items: center;
}

img,
h2 {
  padding: 10px;
}

h2:hover {
  color: yellow;
}

img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}

#main-nav {
  display: flex;
  list-style: none;
}

.nav-link {
  padding: 10px;
  text-align: center;
}

.nav-link:hover {
  color: yellow;
}

#nav-bar {
  display: flex;
  align-items: center;
}

#main-form {
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  width: auto;
  flex-wrap: wrap;
  display: flex;
  padding: 30px;
}

input {
  padding: 3px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px -2px 12px 3px rgba(0, 0, 0, 0.38);
}

.inputs {
  padding: 10px;
}

label,
#email,
#submit {
  padding: 15px;
}

label {
  display: flex;
  align-items: center;
}

#submit:hover {
  transition: 0.6s ease-in-out;
  transform: scale(1.2);
}
/* Um @mediaquery */
/* Usar um flex box */
